.list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 5%;
	margin-top: 5px;
}
.contador {
	display: flex;
	align-items: center;
	margin: 1%;
}

/* .css-1oqqzyl-MuiContainer-root {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 5%;
	margin-top: 5px;
} */
