.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	color: black;
}
.navbar ul li {
	background-color: rgb(255 192 7);
	list-style: none;
}
.logo-icon {
	width: 200px;
	height: 150px;
}
.nav-link {
	list-style: none;
	background-color: rgb(255 192 7);
}
.offcanvas {
	background-color: rgb(255 192 7);
}
.dropdown-conteiner {
	background-color: rgb(255 192 7);
}
.dropdown-item {
	background-color: rgb(255 192 7);
}

@media (max-width: 768px) {
	.logo-icon {
		width: 150px;
		height: 100px;
	}

	.nav-link {
		font-size: 14px;
		padding: 5px;
	}
}
